h1{
    color:red;
    font-size: 50px;
    font-weight: 700;
    background-color: aqua;
    letter-spacing: 5px;
}
#lorem{
    text-decoration:line-through;
    text-decoration-color:chocolate;
}
.box1{
    width: 400px;
    height: 400px;
    background-color:rgb(98, 0, 255);
    border-radius: 50%;
}
#box1{
    width: 600px;
    height: 600px;
    background-color:chocolate;
    border-radius:20px 50px 30px 80px;
}

button {
    padding: 1rem 1rem;
    background: #444;
    color:#fff;
    border-color:#222;
    cursor:pointer;
}
ul{
    margin-top: 0.5rem;
}
ul>li{
    font-size: 26px;
    margin-bottom: 0.5rem;
    font-family: arial;
}
.third{
    width: 80px;
    height: 80px;
    background: orangered;
}